<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo-Web</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/index.js" charset="utf-8"></script>
<script src="/vendor.js" charset="utf-8"></script>
</body>
</html>