<!DOCTYPE html>
<html lang="en">
<head>
    <title>Varcade</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" href="onboarding.css">
</head>
<body>
    <div class="warning">
        <h2><%= warning %></h2>
    </div>
    <div class="onboarding">
        <div class="container">
            <form action='/register' method="POST">
                <input type="hidden" name="_csrf" value= <%= csrfToken %> />
                <div class="form-item">
                    <label for="username">User name:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-item">
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password">
                </div>
                
                <input class="button" type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>