form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    max-width: 70%;
}

.warning {
    position: absolute;
    top: 15%;
    left: 10%;
}

.onboarding {
    position: absolute;
    top: 30%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: lightgoldenrodyellow;
}

.container {
    position: relative;
    left: 30%;
    max-width: 270px;
    width: 50%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

@media screen and (max-width: 850px) {
    .form-item {
        flex-direction: column;
    }
}

.button {
    width: 70px;
    position: relative;
    margin-bottom: 5%;
}