

.dropdown {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 5vw;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    &.show .dropdown-toggle {
      background-color: rgba(92, 184, 92, 0.5);
    }

    .dropdown-menu {
      background-color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      a {
        text-decoration: none;
        color: black;
        padding: 0.5vw;
        &:hover {
          background-color: #f0ad4e
        }
      }
    }
  }