$numOfParts: 4;
$animationTime: 1s;
$interval: 0.08s;

.slideshow {
  overflow: hidden;
  position: relative;
  height: 100%;
  color: #fff;
  
  @mixin sliderReady {
    .slideshow.ready & {
      @content;
    }
  }
  
  @import "./OperationButton.scss";
  
  &_slides {
    position: relative;
    height: 100%;
  }

  &_slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.active {
      pointer-events: auto;
    }

    @mixin slideActive {
      .slideshow_slide.active & {
        @content;
      }
    }

    &__content {
      z-index: $numOfParts + 2;;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      text-transform: uppercase;
      line-height: 1;
    }
    
    @mixin subTextsActiveSlide {
      opacity: 0;
      transition: $animationTime/2;
      
      @include slideActive {
        transition-delay: $animationTime*0.65;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__text {
      $fontSize: 10px;

      margin-bottom: $fontSize;
      font-size: $fontSize;
      letter-spacing: 2px;
      transform: translateY($fontSize);

      
      
      
      @include subTextsActiveSlide;
    }

    &__title {
      $fontSize: 20px;
      
      display: flex;
      margin-bottom: 20px;
      font-size: $fontSize;
      letter-spacing: 12px;
      flex-wrap: wrap;
      
      span {
        display: block;
        opacity: 0;
        transform: translateY($fontSize*-1);
        transition: all $animationTime/3;
        padding-right: 20px;
        
        @include slideActive {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &__readmore {
      position: relative;
      font-size: 14px;
      text-transform: lowercase;
      backface-visibility: hidden;
      transform: translateY(-20px);
      cursor: pointer;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }
      
      @include subTextsActiveSlide;
      &:before {
        content: '';
        position: absolute;
        left: -2px;
        top: -3px;
        width: calc(100% + 4px);
        height: calc(100% + 6px);
        background: rgba(255,255,255,0.4);
        transform: scaleX(0.3);
        transform-origin: 0 50%;
        transition: transform 0.3s;
      }
      
      &:hover:before {
        transform: scaleX(1);
      }
    }

    &__parts {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      
      &:after {
        content: '';
        z-index: $numOfParts + 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.1);
      }
    }

    &__part {
      $partW: (100vw / $numOfParts);
      
      position: relative;
      width: percentage(1 / $numOfParts);
      height: 100%;
      
      $partRef: &;
      $imageFadeAT: $animationTime/4;

      &-inner {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        background-size: 0 0;
        background-repeat: no-repeat;
        transition: transform $animationTime/2 ease-in-out;

        &:before {
          content: '';
          position: absolute;
          width: 100vw;
          height: 100%;
          background-image: inherit;
          background-size: cover;
          background-position: center center;
          transition: opacity $imageFadeAT;
          opacity: 0;
        }
        
        @for $i from 1 through $numOfParts {
          #{$partRef}:nth-child(#{$i}) & {
            $delayOut: ($numOfParts - $i) * $interval;
            $delayIn: $i * $interval + $animationTime/5;
            
            z-index: $numOfParts - $i;
            transition-delay: $delayOut;
            transform: translateX(percentage($i / $numOfParts * -1));
            
            @include slideActive {
              transition-delay: $delayIn;
            }

            &:before {
              left: $partW * ($i - 1) * -1;
              transition-delay: $delayOut + $imageFadeAT/2;
              
              @include slideActive {
                transition-delay: $delayIn;
              }
            }
          }
        }
        
        @include slideActive {
          transform: translateX(0);
          transition-timing-function: ease;
          
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  
  &_control {
    z-index: 100;
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 5vw;
    padding: 3vw;

    cursor: pointer;

    &:hover {
      background-color: 	rgba(211,211,211,0.3);
    }
    
    &__right {
      left: auto;
      right: 5%;
    }
  }
}