
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'components/SlideShow.scss';

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1%;
        padding-top: 2%;
        height: 10%;

        .header-title {
            padding-right: 2%;
            width: 10%;

            img {
                padding-left: 30%;
                width: 90%;
            }
        }

        .header-navigation {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 30%;

            .nav-item {
                padding: 3%;
                border: 1px solid hidden;
                border-radius: 1vw;
                font-size: 2vw;

                @media screen and (max-width: 400px) {
                    font-size: 3vw;
                    display: none;
                }

                @media screen and (min-width: 1200px) {
                    font-size: 1.5vw;
                }

                &:hover {
                    background-color: #60dbed;
                }

                a {
                    text-decoration: none;
                    color: black;
                    
                }

                &.logout {
                    display: block;
                }
            }
        }
    }

    .content-container {
        height: 100%;
    }
    
    .slides-container {
        height: 100%
    }
    
    .home {
        height: 100%;

        .introduction {
            height: 100%;

            @media screen and (max-width: 400px) {
                height: 40%;
            }

        }

        .mobil-trees-container {
            display: none;

            @media screen and (max-width: 400px) {
                display: block;
                height: 40%;

                .mobil-trees-title {
                    margin-top: 10%;
                    font-weight: bold;
                }
            }
        }

        .mobil-contact-container {
            display: none;

            @media screen and (max-width: 400px) {
                display: block;
                height: 30%;
                margin: 15%;

                .contact-container {
                    padding-top: 0;
                    padding-left:5%;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;

        .footer-item {
            font-size: 1vw;
            padding: 1vw;

            @media screen and (max-width: 400px) {
                font-size: 3vw;
            }
        }
    }

}